
 .system-list {
  // background-color: #202020!important;
  // border: 1px solid darkslategrey;
   //border-radius: 8px;

   .remove-system {
     float: right;
   }

   .contract-data {
     display: none;
   }

//   .contract-number {
//     font-size: 3em;
//     font-weight: bold;
//   }
 }

.gallente,.Oxygen {
  color: #c9d3c5;
}

.amarr,.Helium {
  color: #dbccbd;
}

.minmatar,.Nitrogen {
  color: #dabec1;
}

.caldari,.Hydrogen {
  color: #c9cbcf;
}