
// body {
//   background-color: #140d0f;
//   color: antiquewhite;
// }

// a {
//   color: lightblue;
// }

// #login-header {
//   float: right;
// }


// #system-list {
//   width: 100%;
//   height: 50%;
//   display: grid;
//   grid-auto-flow: row;
//   grid-template-columns: 33% 33% 33%;
//   padding-top: 3em;
// }

// /* TODO: Replace with Bootstrap colors */

 .system-list {
//   background-color: #202020;
//   //border: 1px solid darkslategrey;
//   //border-radius: 8px;
//   width: 90%;
//   //padding: .5em;
//   //padding-top: .2em;

   .remove-system {
     float: right;
   }

   .contract-data {
     display: none;
   }

//   .contract-number {
//     font-size: 3em;
//     font-weight: bold;
//   }
 }

.gallente,.Oxygen {
  color: #576866;
}

.amarr,.Helium {
  color: #bba183;
}

.minmatar,.Nitrogen {
  color: #8c5055;
}

.caldari,.Hydrogen {
  color: #819f8a;
}